:root{
    --text-main: #1a1a1a;
    --accent: #4da3ff;
    --radius: 20px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    color: var(--text-main);
}

header{
    text-align: center;
    color:white;
    padding: 4rem 1rem 3rem;
}

.made-with{
    width: 10rem;
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
    background-color: grey;
    padding: 16px 10px;
    border-radius: var(--radius);
    transition: opacity 0.2s;
    margin-left: 2rem;
}

.made-with:hover{
    opacity: 0.8;
    cursor:pointer;
}

.title{
    font-size: 4rem;
    letter-spacing: 6px;
}

.author{
    margin-top: 10px;
    font-weight: 400;
    opacity: 0.8;
}

main{
    padding: 0rem 2rem 4rem;
    display: grid;
    gap: 3rem;
}

main > div{
    background-color: white;
    border-radius: var(--radius);
    padding: 2rem 2rem;
    transition: box-shadow 0.2s;
}

main > div:hover{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
}

h2{
    margin-bottom: 0.8rem;
    font-weight: 900;
    font-size: 1.5rem;
}

h3{
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
}

h4{
    margin-bottom: 0.5rem;
    margin-top:1.5rem;
    color: var(--accent);
}

ul{
    padding-left: 1.4rem;
    list-style: none;
}

ul li {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 0.6rem;
    color: #555;
}

ul li::before {
    content: "▸";
    position: absolute;
    left: 0;
    color: #4da3ff;
    font-weight: bold;
}


@media (max-width: 768px) {
    header {
        padding: 3rem 1rem 2rem;
    }

    .title {
        font-size: 2.3rem;
    }

    main > div {
        padding: 1.5rem;
    }
}
